<div id="main-wrapper">
<!-- Page Preloader -->
<div id="preloader" class="visible hide-slow">
    <div id="status">
        <div class="status-mes">
            <i class="far fa-code fa-spin fa-3x"></i>
        </div>
    </div>
</div>

<div class="columns-block">
<div class="left-col-block blocks">
    <header class="header">
        <div class="content text-center">
            <h1>Hi, I'm Fryderyk Kondej</h1>

            <p class="lead">Senior Software Developer</p>
            <ul class="social-icon">
                <li><a href="https://www.hackerrank.com/fkondej" target="_blank"><img style="width: 45%; height: auto;" src="/assets/hackerrank.svg" ></a></li>
                <li><a href="https://www.linkedin.com/in/fryderyk-kondej/" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="https://gitlab.com/fkondej" target="_blank"><i class="fab fa-gitlab" aria-hidden="true"></i></a></li>
            </ul>
        </div>
        <div class="profile-img"></div>
    </header>
    <!-- .header-->
</div>


<div class="right-col-block blocks">
<section class="intro section-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>What I am all about.</h2>
                </div>
            </div>
            <div class="col-md-12">
                <p>
                    Experienced Full Stack Developer with a demonstrated history of working in the financial
                    services industry. Skilled in CI, Web, Single Page Applications, DevOps, Backend Services,
                    Databases, and able to write code in any programming language. Strong engineering professional
                    with a Master focused in IT from Warsaw University of Technology.
                </p>
            </div>
        </div>
    </div>
</section>


<section class="expertise-wrapper section-wrapper gray-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Expertise</h2>
                </div>
            </div>
        </div>
        <!-- .row -->

        <div class="row">
            <div class="col-md-6">
                <div class="expertise-item">
                    <h3>Newest technologies</h3>
                    <p>
                        Fully understanding and applying new ideas to my day to day work is something that drives me.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="expertise-item">
                    <h3>Quality focused</h3>
                    <p>
                        There is no product that can't be improved, the question is how much you can improve it.
                    </p>
                </div>
            </div>
        </div>
        <!-- .row -->
        <div class="row">
            <div class="col-md-6">
                <div class="expertise-item">
                    <h3>Problem solving</h3>
                    <p>
                        Show me a problem and I will solve it. The harder it is the more fun I will have.
                    </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="expertise-item">
                    <h3>Agile</h3>
                    <p>
                        Employing new techniques is my second nature.
                    </p>
                </div>
            </div>
        </div>
        <!-- .row -->
    </div>
    <!--.container-fluid-->
</section>
<!-- .expertise-wrapper -->

<section class="section-wrapper skills-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Skills</h2>
                </div>
            </div>
        </div>
        <!--.row-->
        <div class="row">
            <div class="col-md-12">
                <div class="progress-wrapper">

                    <div class="progress-item">
                        <span class="progress-title">Full Stack Developer</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 85%"><span class="progress-percent"> 85%</span>
                            </div>
                        </div>
                        <!-- .progress -->
                    </div>
                    <!-- .skill-progress -->


                    <div class="progress-item">
                        <span class="progress-title">Python, Javascript, TypeScript, Bash</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 90%"><span class="progress-percent"> 90%</span>
                            </div>
                        </div>
                        <!-- /.progress -->
                    </div>
                    <!-- /.skill-progress -->


                    <div class="progress-item">
                        <span class="progress-title">Ruby, Groovy, C++, Java, Scala, anything</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 65%;"><span class="progress-percent"> 65%</span>
                            </div>
                        </div>
                        <!-- /.progress -->
                    </div>
                    <!-- /.skill-progress -->

                    <div class="progress-item">
                        <span class="progress-title">CI / CD</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 75%;"><span class="progress-percent"> 75%</span>
                            </div>
                        </div>
                        <!-- /.progress -->
                    </div>
                    <!-- /.skill-progress -->
                    <div class="progress-item">
                        <span class="progress-title">Ability to learn and adopt new technologies</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 100%;"><span class="progress-percent"> 100%</span>
                            </div>
                        </div>
                        <!-- .progress -->
                    </div>
                    <!-- .skill-progress -->

                </div>
                <!-- /.progress-wrapper -->
            </div>
        </div>
        <!--.row -->
    </div>
    <!-- .container-fluid -->
</section>
<!-- .skills-wrapper -->

<section class="section-wrapper section-experience gray-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title"><h2>Work Experience</h2></div>
            </div>
        </div>
        <!--.row-->
        <div class="row">
            <div class="col-md-12">
                <div class="content-item">
                    <small>Jan 2016 - Present</small>
                    <h3>Senior Software Developer</h3>
                    <h4>Bloomberg L.P.</h4>
                    <p>United Kingdom, London</p>
                </div>
                <!-- .experience-item -->
                <div class="content-item">
                    <small>Aug 2013 - Dec 2015</small>
                    <h3>Mobile Test Automation Specialist</h3>
                    <h4>Bloomberg L.P.</h4>
                    <p>United Kingdom, London</p>
                </div>
                <!-- .experience-item -->
                <div class="content-item">
                    <small>Jun 2012 - Jul 2013</small>
                    <h3>Career Break</h3>
                    <p>Traveling in Asia and Australia</p>
                </div>
                <!-- .experience-item -->
                <div class="content-item">
                    <small>Aug 2010 - Jun 2012</small>
                    <h3>Web Server/System Administrator,<br> Test Leader</h3>
                    <h4>Banking Sector</h4>
                    <h4>Infovide-Matrix S.A.</h4>
                    <p>Poland, Warsaw</p>
                </div>
                <!-- .experience-item -->
                <div class="content-item">
                    <small>Jun 2006 - Aug 2010</small>
                    <h3>Web Server/System Administrator,<br> Programmer,<br> QA team lead</h3>
                    <h4>Telecom Sector</h4>
                    <h4>Infovide-Matrix S.A.</h4>
                    <p>Poland, Warsaw</p>
                </div>
                <!-- .experience-item -->
            </div>
        </div>
        <!--.row-->
    </div>
    <!-- .container-fluid -->

</section>
<!-- .section-experience -->

<section class="section-wrapper section-education">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title"><h2>Education</h2></div>
            </div>
        </div>
        <!--.row-->
        <div class="row">
            <div class="col-md-12">
                <div class="content-item">
                    <small>2004 - 2011</small>
                    <h3>Master of Science in Technology</h3>
                    <h4>Information Technology</h4>
                    <p>Warsaw University of Technology, Poland</p>
                </div>
                <!-- .experience-item -->
            </div>
        </div>
        <!--.row-->
    </div>
    <!-- .container-fluid -->

</section>
<!-- .section-education -->

<section class="section-wrapper section-interest gray-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Interest</h2>
                </div>
            </div>
        </div>
        <!-- .row -->

        <div class="row">
            <div class="col-md-12">
                <div class="content-item">
                    <h3>Travel</h3>
                    <p>
                        When time allows I travel to exotic destinations.
                        In the past I spent one year traveling in Asia and Australia.
                        I have visited over 40 countries on 6 continents so far.
                    </p>
                </div>
                <div class="content-item">
                    <h3>Food</h3>
                    <p>
                        I am big fan of Asian food with a strong preference to Chinese and Thai cuisine.
                        But the best dish I have ever eaten was Cambodian amok.
                    </p>
                </div>
            </div>
        </div>
        <!-- .row -->

    </div>
</section>
<!-- .section-publications -->

<section class="section-contact section-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Contact</h2>
                </div>
            </div>
        </div>
        <!--.row-->
        <div class="row">
            <div class="col-md-12">
                <address>
                    <strong>Address</strong><br>
                    170 Index Apartments, Mercury Gardens<br>
                    RM1 3HS Romford, UK
                </address>
                <address>
                    <strong>Mobile Number</strong><br>
                    +44 7719 764 934
                </address>
                <address>
                    <strong>Email</strong><br>
                    <a href="mailto:fkondej@gmail.com">fkondej@gmail.com</a>
                </address>
            </div>
        </div>
    </div>
    <!--.container-fluid-->
</section>
<!--.section-contact-->

</div>
<!-- .right-col-block -->
</div>
<!-- .columns-block -->
</div>
<!-- #main-wrapper -->
